/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.form {
  border: 4px solid black;
  box-sizing: border-box;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(196, 206, 214);
  box-shadow: 0 3rem 5rem 19px rgb(74, 179, 88);
  margin-top: 130px;
}
body {
  background: linear-gradient(90deg, #0072ff, #ff0058);
}
.line {
  color: #222091;
}
button {
  margin-bottom: 10px;
  border-radius: 2px;
  font-weight: bold;
}
input {
  border-radius: 2px;
}
